<header>
  <nav class="navbar">
    <a class="navbar-left logo" href="/">WikiMaps</a>
    <div class="navbar-right">
      <% if (user) { %>
      <span class="nav-item">
        <a class="nav-item nav-link create-map-cta" href=#>Create a Map</a>
      </span>
      <span class="nav-item nav-user">
        <div class="nav-greeting">Hello there, <%= user.name%>!</div>
        <i class="fas fa-caret-down icon"></i>
      </span>
      <% } else { %>
      <span class="nav-item">
        <a class="nav-item nav-link" href="/register">Register</a>
      </span>
      <span class="nav-item">
        <a class="nav-item nav-link" href="/login">Login</a>
      </span>
      <% } %>
    </div>
  </nav>
</header>

<div class="nav-dropdown">
  <span id="nav-my-maps" class="navbar">My Maps</span>
  <span id="nav-my-fav" class="navbar">My Favourites</span>
  <span id="nav-logout" class="navbar">Log Out</span>
</div>
