<!DOCTYPE html>
<html lang="en">

<head>
  <title>WikiMaps</title>
  <%- include('partials/_head') %>
  <script src="scripts/mapsApi.js">
  </script>
</head>

<%- include('partials/_header') %>

<body>
  <main>
    <% if (user) { %>
    <div class="map-wrapper">
      <div class="map-nav">
        <ul class="tabs">
          <li data-tab-target="#my-maps" class="active tab">My Maps</li>
          <li data-tab-target="#my-favourites" class="tab">My Favourites</li>
        </ul>
        <div class="tab-content">
          <div class="my-maps-container">
            <div id="my-maps" data-tab-content class="active">
              <div>
                <p>Testing data</p>
              </div>
              <div>
                <p>More test data</p>
              </div>
              <div>
                <p>more test data</p>
              </div>
            </div>
          </div>
          <div class="my-favourites-container">
            <div id="my-favourites" data-tab-content>
              <div>
                <p>Testing data favourites</p>
              </div>
              <div>
                <p>Helllllo</p>
              </div>
              <div>
                <p>Holaaaa</p>
              </div>
            </div>
          </div>
          <span class="absolute-nav-link">
            <a class="nav-item nav-link create-map-cta" href=#>Create a Map</a>
          </span>`
        </div>
      </div>
      <div class="map-container">
        <div id="floating-panel">
          <input id="address" type="textbox" value="Sydney, NSW" />
          <input id="submit" type="button" value="Find" />
        </div>
        <div id="map"></div>
      </div>
    </div>
    <% } else { %>
    <div class="map-wrapper">
      <div class="map-nav">
        <!-- <h3 class="map-title">Best Eats in Vancouver</h3> -->

        <% if (!user) { %>
        <ul class="nav">
          <div id="arrow-back-button">
            <button onclick="goBack()">← back to map list</button>
          </div>
          <li>
            <h3> Best Eats in Vancouver</h3>
          </li>
          <div class="kebab">
            <figure></figure>
            <figure class="middle"></figure>
            <p class="cross">x</p>
            <figure></figure>
            <ul class="dropdown">
              <li><a class="nav-item nav-link create-map-cta" href=#>Edit a Map</a></li>
              <li><a class="nav-item nav-link delete-map-cta" href=#>Delete Map</a></li>
            </ul>
          </div>
          <p class="map-description">Amazing food in and around downtown Vancouver. I'm getting hungry...</p>
          <p class="created-by">Created by: Bob The Hungry Builder</p>
        </ul>
        <span>
          <a class="add-to-favourites" href="/:id/favourites">❤ Add to Favourites</a>
        </span>
        <div class="tab-content">
          <div>
            <p>Forage</p>
            <p>Phnom Penh Restaurant</p>
            <p>Cafe Medina</p>
            <p>Black + Blue</p>
            <p>Sal y limon</p>
            <p>Miku Vancouver</p>
          </div>
          <% } else { %>
          <div class="tab-content">
            <div>
              <p>Forage</p>
              <p>Phnom Penh Restaurant</p>
              <p>Cafe Medina</p>
              <p>Black + Blue</p>
              <p>Sal y limon</p>
              <p>Miku Vancouver</p>
            </div>
            <% } %>
            <% if (!user) { %>
            <span class="absolute-nav-link">
              <a class="nav-item nav-link create-map-cta" href=#>Add a New Pin</a>
            </span>
          </div>
        </div>
        <div class="map-container">
          <div id="floating-panel">
            <input id="address" type="textbox" value="Sydney, NSW" />
            <input id="submit" type="button" value="Find" />
          </div>
          <div id="map"></div>
        </div>
      </div>
    </div>
    <% } else { %>
    <div class="map-container">
      <div id="floating-panel">
        <input id="address" type="textbox" value="Sydney, NSW" />
        <input id="submit" type="button" value="Find" />
      </div>
      <div id="map"></div>
    </div>
    <% } %>
    <% } %>
  </main>

  <!-- Create a map -->
  <div class="form-popup" id="create-map-popup">
    <form method="POST" action="/api/maps" class="map-form">
      <div class="form-header">
        <label for="map-form" class="side-panel-heading">Create a Map</label>
        <i id="close-button" class="fas fa-times-circle"></i>
      </div>
      <div class="form-input">
        <input type="text" id="input-map-title" name="title" placeholder="Enter map title..." required>
        <textarea type="text" id="input-map-description" name="description"
          placeholder="Enter map description..."></textarea>
      </div>
      <button type="submit" class="button-text">Create</button>
    </form>
  </div>

  <!-- Edit a map -->
  <div class="form-popup" id="edit-map-popup">
    <form method="POST" action="/api/maps/:id" class="map-form">
      <div class="form-header">
        <label for="map-form" class="side-panel-heading">Edit Map</label>
        <i id="close-button" class="fas fa-times-circle"></i>
      </div>
      <div class="form-input">
        <input type="text" id="input-map-title" name="title" placeholder="New map title..." required>
        <textarea type="text" id="input-map-description" name="description"
          placeholder="New map description..."></textarea>
      </div>
      <button type="submit" class="button-text">Update</button>
    </form>
  </div>

  <!-- Delete a map -->
  <div class="form-popup" id="delete-map-popup">
    <form method="DELETE" action="/api/maps/:id" class="map-form">
      <div class="form-header">
        <label for="map-form" class="side-panel-heading">Are you sure you want to delete the map?</label>
        <i id="close-button" class="fas fa-times-circle"></i>
      </div>
      <br>
      <div class="delete-cancel-buttons">
        <button type="submit" class="button-text">DELETE</button>
        <button type="submit" class="button-text">CANCEL</button>
      </div>
    </form>
  </div>

  <!-- Add new pin -->
  <div class="form-popup" id="add-point">
    <form method="POST" action="/:map_id/points" class="map-form">
      <div class="form-header">
        <label for="map-form" class="side-panel-heading">Add a Point</label>
        <i id="close-button" class="fas fa-times-circle"></i>
      </div>
      <div class="form-input">
        <input type="text" id="input-map-title" name="title" placeholder="Enter pin title..." required>
        <textarea type="text" id="input-map-description" name="description"
          placeholder="Enter pin description..."></textarea>
        <br>
        <form action="/action_page.php">
          <label for="img">Select image:</label>
          <input type="file" id="img" name="img" accept="image/*">
          <input type="submit">
        </form>
      </div>
      <button type="submit" class="button-text">Add</button>
    </form>
  </div>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.API_KEY %>&callback=initMap&libraries=&v=weekly"
    type="text/javascript"></script>
</body>

</html>
