<!DOCTYPE html>
<html lang="en">

<head>
  <title>WikiMaps</title>
  <%- include('partials/_head') %>
</head>

<%- include('partials/_header') %>

<body>
  <main>
    <% if (user) { %>
    <div class="map-wrapper">
      <div class="map-nav">
        <ul class="tabs">
          <li data-tab-target="#my-maps" class="active tab">My Maps</li>
          <li data-tab-target="#my-favourites" class="tab">My Favourites</li>
        </ul>
        <div class="tab-content">
          <div class="my-maps-container">
            <div id="my-maps" data-tab-content class="active">
              <div>
                <p>Testing data</p>
              </div>
              <div>
                <p>More test data</p>
              </div>
              <div>
                <p>more test data</p>
              </div>
            </div>
          </div>
          <div class="my-favourites-container">
            <div id="my-favourites" data-tab-content>
              <div>
                <p>Testing data favourites</p>
              </div>
              <div>
                <p>Helllllo</p>
              </div>
              <div>
                <p>Holaaaa</p>
              </div>
            </div>
          </div>
          <span class="absolute-nav-link">
            <a class="nav-item nav-link create-map-cta" href=#>Create a Map</a>
          </span>
        </div>
      </div>
      <div class="map">
        <img src="https://i.stack.imgur.com/1XPRz.png">
      </div>
    </div>


    <div class="form-popup" id="create-map-popup">
      <form method="POST" action="/api/maps" class="map-form">
        <div class="form-header">
          <label for="map-form" class="side-panel-heading">Create a Map</label>
          <i id="close-button" class="fas fa-times-circle"></i>
        </div>
        <div class="form-input">
          <input type="text" id="input-map-title" name="title" placeholder="Enter map title..." required>
          <textarea type="text" id="input-map-description" name="description"
            placeholder="Enter map description..."></textarea>
        </div>
        <button type="submit" class="button-text">Create</button>
      </form>
    </div>

    <% } else { %>
    <div class="map-wrapper">
      <div class="map-nav">
        <ul class="nav">
          <li><a href="www.backbutton.com">←</a></li>
          <li>
            <h3>Best Eats in Vancouver</h3>
          </li>
          <div class="kebab">
            <figure></figure>
            <figure class="middle"></figure>
            <p class="cross">x</p>
            <figure></figure>
            <ul class="dropdown">
              <li><a href="http://www.g.com">Edit Map</a></li>
              <li><a href="http://www.g.com">Delete Map</a></li>
            </ul>
          </div>
        </ul>

        <% if (!user) { %>
        <span>
          <a class="add-to-favourites" href="/maps">Add to Favourites</a>
        </span>
        <div class="tab-content">
          <div>
            <p>Forage</p>
            <p>Phnom Penh Restaurant</p>
            <p>Cafe Medina</p>
            <p>Black + Blue</p>
            <p>Sal y limon</p>
            <p>Miku Vancouver</p>
          </div>
          <% } else { %>
          <div class="tab-content">
            <div>
              <p>Forage</p>
              <p>Phnom Penh Restaurant</p>
              <p>Cafe Medina</p>
              <p>Black + Blue</p>
              <p>Sal y limon</p>
              <p>Miku Vancouver</p>
            </div>
            <% } %>
            <% if (!user) { %>
            <span class="absolute-nav-link">
              <a class="nav-item nav-link create-map-cta" href=#>Add a New Pin</a>
            </span>
          </div>
        </div>
        <div class="map">
          <img src="https://i.stack.imgur.com/1XPRz.png">
        </div>
      </div>
      <% } else { %>
    </div>
    </div>
    <div class="map">
      <img src="https://i.stack.imgur.com/1XPRz.png">
    </div>
    </div>
    <% } %>
    <% } %>
  </main>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.API_KEY %>&callback=initMap&libraries=&v=weekly"
    type="text/javascript"></script>
</body>

</html>
