<!DOCTYPE html>
<html lang="en">

<head>
  <title>WikiMaps - Test Form Index</title>
  <%- include('partials/_head') %>
</head>
<%- include('partials/_header') %>

<body>
  <main>
    <div class="form-popup" id="create-map-popup">
      <form method="POST" action="/api/maps" class="map-form">
        <div class="form-header">
          <label for="map-form" class="side-panel-heading">Create a Map</label>
          <i class="fas fa-times-circle close-button"></i>
        </div>
        <div class="form-input">
          <input type="text" id="input-map-title" name="title" placeholder="Enter map title..." required>
          <textarea type="text" id="input-map-description" name="description"
            placeholder="Enter map description..."></textarea>
        </div>
        <button type="submit" class="button-text">Create</button>
      </form>
    </div>
    <div class="index-maps-container">
      <div class="maplist-item img-right">
        <div class="map-description left">
          <h1>Best Food Around Town</h1>
          <p class="description-text">I'm hungry. You're hungry. Everyone is hungry, so let's go eat!</p>
          <div class="map-cta">
            <button class="button-text">Check Out Map</button>
          </div>
        </div>
        <div class="img-mask">
          <img src="https://media.wired.com/photos/59269cd37034dc5f91bec0f1/master/w_2560%2Cc_limit/GoogleMapTA.jpg"
            alt="map" class="map-img">
        </div>
      </div>
      <div class="maplist-item img-left">
        <div class="img-mask">
          <img src="https://media.wired.com/photos/59269cd37034dc5f91bec0f1/master/w_2560%2Cc_limit/GoogleMapTA.jpg"
            alt="map" class="map-img">
        </div>
        <div class="map-description right">
          <h1>Best Food Around Town</h1>
          <p class="description-text">I'm hungry. You're hungry. Everyone is hungry, so let's go eat!</p>
          <div class="map-cta">
            <button class="button-text">Check Out Map</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>
