<!DOCTYPE html>
<html lang="en">

<head>
  <title>WikiMaps</title>
  <%- include('partials/_head') %>
</head>

<%- include('partials/_header') %>

<body>
  <h1>Hello World!</h1>
  <h4>Testing description</h4>
  <button class="button-text">button</button>
</body>

</html>
