<!DOCTYPE html>
<html lang="en">

<head>
  <title>WikiMaps</title>
  <%- include('partials/_head') %>
</head>

<%- include('partials/_header') %>

<body>
  <main>
    <div class="hero-container">
      <div class="hero-description">
        <h4>Newest Map</h4>
        <h1>Where to Avoid Other Humans</h1>
        <p class="description-text">Don't like people? Want to be a loner? I got you fam.</p>
        <div class="hero-cta">
          <button class="button-text create-map-cta">Check Out Map</button>
        </div>
      </div>
      <div class="img-mask">
        <img src="https://media.wired.com/photos/59269cd37034dc5f91bec0f1/master/w_2560%2Cc_limit/GoogleMapTA.jpg"
          alt="map" class="hero-map">
      </div>
    </div>
    <div class="map-container">
      <div class="map-card">
        <div class="img-mask">
          <img src="https://media.wired.com/photos/59269cd37034dc5f91bec0f1/master/w_2560%2Cc_limit/GoogleMapTA.jpg"
            alt="map" class="map-thumbnail">
        </div>
        <div class="map-heading">Map Title</div>
      </div>
      <div class="map-card">
        <div class="img-mask">
          <img src="https://media.wired.com/photos/59269cd37034dc5f91bec0f1/master/w_2560%2Cc_limit/GoogleMapTA.jpg"
            alt="map" class="map-thumbnail">
        </div>
        <div class="map-heading">Map Title</div>
      </div>
      <div class="map-card">
        <div class="img-mask">
          <img src="https://media.wired.com/photos/59269cd37034dc5f91bec0f1/master/w_2560%2Cc_limit/GoogleMapTA.jpg"
            alt="map" class="map-thumbnail">
        </div>
        <div class="map-heading">This a longer title</div>
      </div>
      <div class="map-card">
        <div class="img-mask">
          <img src="https://media.wired.com/photos/59269cd37034dc5f91bec0f1/master/w_2560%2Cc_limit/GoogleMapTA.jpg"
            alt="map" class="map-thumbnail">
        </div>
        <div class="map-heading">Map Title</div>
      </div>
      <div class="map-card">
        <div class="img-mask">
          <img src="https://media.wired.com/photos/59269cd37034dc5f91bec0f1/master/w_2560%2Cc_limit/GoogleMapTA.jpg"
            alt="map" class="map-thumbnail">
        </div>
        <div class="map-heading">This is a very very very very very very very very very long title</div>
      </div>
    </div>
  </main>
</body>

</html>
