<%- include('partials/_header') %>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="script.js" defer></script>
  <title>Maps</title>
</head>

<body>
  <ul>
    <li data-tab-target="#my-maps">My Maps</li>
    <li data-tab-target="my-favourites">My Favourites</li>
  </ul>

  <div class="tab-content">
    <div id="my-maps">
      <h2>My Maps</h2>
    </div>
    <div id="my-favourites">
      <h2>My Favourites</h2>
    </div>
  </div>
</body>

</html>
