<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login - WikiMap</title>
    <%- include('partials/_header') %>
  </head>
  <%- include('partials/_head') %>
  <body>
    <main>
      <br>
      <h1>Login</h1>
      <form action="/login" method="POST" class="login-form">
        <div class="form-input">
          <label for="login-email" class="side-panel-heading">Email:</label>
          <input type="email" name="email" placeholder="Type your email">
        </div>
        <div class="form-input">
          <label for="login-password" class="side-panel-heading">Password:</label>
          <input type="password" name="password" placeholder="Type your password">
        </div>
        <button class="btn btn-primary" type="submit">Log in!</button>
      </form>
    </main>
  </body>

</html>
