<!DOCTYPE html>
<html lang="en">

<head>
  <title>WikiMaps</title>
  <%- include('partials/_head') %>
</head>
<%- include('partials/_header') %>

<body>
  <main>
    <!-- logged in user seeing their maps and favourited maps -->
    <!-- Create a map -->
    <div class="form-popup" id="create-map-popup">
      <form method="POST" action="/api/maps" class="map-form">
        <div class="form-header">
          <label for="map-form" class="side-panel-heading">Create a Map</label>
          <i class="fas fa-times-circle close-button"></i>
        </div>
        <div class="form-input">
          <input type="text" class="input-map-title" name="title" placeholder="Enter map title..." required>
          <textarea type="text" class="input-map-description" name="description"
            placeholder="Enter map description..."></textarea>
        </div>
        <button type="submit" class="button-text">Create</button>
      </form>
    </div>

    <div class="map-wrapper">
      <div id="custom-map-feed" class="map-nav">
        <% if (user) { %>
        <ul class="tabs">
          <li data-tab-target="#my-maps" class="active tab">My Maps</li>
          <li data-tab-target="#my-favourites" class="tab">My Favourites</li>
        </ul>
        <div class="tab-content">
          <div class="my-maps-container">
            <div id="my-maps" data-tab-content class="active">
              <p>Testing data</p>
              <p>More test data</p>
              <p>more test data</p>
            </div>
          </div>
          <div class="my-favourites-container">
            <div id="my-favourites" data-tab-content>
            </div>
          </div>
          <span class="absolute-nav-link">
            <a class="nav-item nav-link create-map-cta" href=#>Create a Map</a>
          </span>
        </div>


        <% } else { %>
        <ul class="tabs">
          <li data-tab-target="#my-maps" class="active tab">My Maps</li>
          <li data-tab-target="#my-favourites" class="tab">My Favourites</li>
        </ul>
        <div class="tab-content">
          <div class="my-maps-container">
            <p>Please log in to see your maps.</p>
            <span class="button">
              <a id="map-login" class="button-text" href="/login">Log In</a>
            </span>
          </div>
        </div>
        <% } %>
      </div>

      <div id="custom-point-feed class=" map-nav">
        <ul class="nav">

          <% if (user) { %>
          <span class="button">
            <a id="arrow-back-button" class="button-text" href=#>← Back to Map List</a>
          </span>
          <% } %>
          <div id="map-info-container">
          </div>
        </ul>
        <% if (user) { %>
        <div>
          <span class="selector-bar">
            <a class="edit-map-cta" href=#>✏️ Edit a Map</a>
            <div class="heart" href="/:id/favourites"></div>
            <a class="nav-item nav-link add-pin-cta" href=#>➕ Add a Pin</a>
            <a class="nav-item nav-link edit-pin-cta" href=#>✏️ Edit a Pin</a>
          </span>
        </div>
        <!-- Edit a point -->
        <div class="form-popup" id="edit-point-popup">
          <form method="POST" action="/:map_id/points/:point_id" class="map-form">
            <div class="form-header">
              <label for="map-form" class="side-panel-heading">Edit Pin</label>
              <i class="fas fa-times-circle close-button"></i>
            </div>
            <div class="form-input">
              <input type="text" class="input-map-title" name="title" placeholder="New pin title..." required>
              <textarea type="text" class="input-map-description" name="description"
                placeholder="New pin description..."></textarea>
              <br>
              <input type="text" id="input-image-url" name="image-url" placeholder="enter-image-url" required>
              <label for="img">Select image:</label>
              <input type="file" id="img" name="img" accept="image/*">
              <div class="form-button">
                <button type="submit" class="button-text">Edit</button>
              </div>
            </div>
          </form>
        </div>
        <!-- Edit a map -->
        <div class="form-popup" id="edit-map-popup">
          <form method="POST" action="/api/maps/:id" class="map-form">
            <div class="form-header">
              <label for="map-form" class="side-panel-heading">Edit Map</label>
              <i class="fas fa-times-circle close-button"></i>
            </div>
            <div class="form-input">
              <input type="text" class="input-map-title" name="title" placeholder="New map title..." required>
              <textarea type="text" class="input-map-description" name="description"
                placeholder="New map description..."></textarea>
            </div>
            <button type="submit" class="button-text">Update</button>
          </form>
        </div>
        <!-- Add new pin -->
        <div class="form-popup" id="add-pin-popup">
          <form method="POST" action="/:map_id/points" class="map-form" id="add-pin-form">
            <div class="form-header">
              <label for="map-form" class="side-panel-heading">Add a Pin</label>
              <i class="fas fa-times-circle close-button"></i>
            </div>
            <div class="form-input">
              <input type="text" class="input-map-title" name="title" placeholder="Enter pin title..." required>
              <textarea type="text" class="input-map-description" name="description"
                placeholder="Enter pin description..."></textarea>
              <br>
              <input type="text" id="input-image-url" name="image-url" placeholder="enter-image-url" required>
              <label for="img">Select image:</label>
              <input type="file" id="img" name="img" accept="image/*">
              <div class="form-button">
                <button type="submit" class="button-text">Add</button>
              </div>
            </div>
          </form>
        </div>
        <% } %>
        <div class="pins-container tab-content">
          <div id="pin-list">
          </div>
          <% if (user) { %>
        </div>
      </div>
      <% } %>
    </div>

    </div>


    </div> -->


    <!--  individual map + points end -->
    <div class="map-container-maps">
      <div id="floating-panel">
        <input id="address" type="textbox" value="Vancouver, BC" />
        <input id="submit" type="button" value="Find" />
      </div>
      <div id="map"></div>
    </div>
    </div>

  </main>

</body>

</html>
