<!DOCTYPE html>
<html lang="en">

<head>
  <title>WikiMaps</title>
  <%- include('partials/_head') %>
</head>
<%- include('partials/_header') %>

<body>
  <main>
    <!-- logged in user seeing their maps and favourited maps -->
    <div class="map-wrapper">
      <div id="custom-map-feed" class="map-nav">
        <% if (user) { %>
        <ul class="tabs">
          <li data-tab-target="#my-maps" class="active tab">My Maps</li>
          <li data-tab-target="#my-favourites" class="tab">My Favourites</li>
        </ul>
        <div class="tab-content">
          <div class="my-maps-container">
            <div id="my-maps" data-tab-content class="active">
                <p>Testing data</p>
                <p>More test data</p>
                <p>more test data</p>
            </div>
          </div>
          <div class="my-favourites-container">
            <div id="my-favourites" data-tab-content>
                <p>Testing data favourites</p>
                <p>Helllllo</p>
                <p>Holaaaa</p>
            </div>
          </div>
          <span class="absolute-nav-link">
            <a class="nav-item nav-link create-map-cta" href=#>Create a Map</a>
          </span>
        </div>


        <% } else { %>
        <ul class="tabs">
          <li data-tab-target="#my-maps" class="active tab">My Maps</li>
          <li data-tab-target="#my-favourites" class="tab">My Favourites</li>
        </ul>
        <div class="tab-content">
          <div class="my-maps-container">
            <p>Please log in to see your maps.</p>
            <span class="button">
              <a id="map-login" class="button-text" href="/login">Log In</a>
            </span>
          </div>
        </div>
        <% } %>
      </div>

      <!-- custom map feed ends -->

      <!-- individual map + points -->
      <div id="custom-point-feed class=" map-nav">
        <ul class="nav">
          <!-- if logged in user, has access to kebab -->

          <% if (user) { %>

          <div id="arrow-back-button">
            <button onclick="goBack()">← Back to Map List</button>
          </div>

          <% } %>
          <div class="point-panel-heading">
            <li>
              <p class="map-heading"> Best Eats in Vancouver</p>
            </li>
            <% if (user) { %>
            <div class="kebab-container dropdown">
              <!-- <div class="kebab">
                <figure></figure>
                <figure class="middle"></figure>
                <p class="cross">x</p>
                <figure></figure>
              </div> -->
              <!-- <div class="kebab-dropdown">
                <span class="kebab-item">
                  <a class="edit-map-cta" href=#>Edit Map</a>
                </span>
                <span class="kebab-item">
                  <a class="delete-map-cta" href=#>Delete Map</a>
                </span>
              </div> -->
              <div class="edit-delete-buttons">
                <a class="nav-item nav-link edit-map-cta" href=#>Edit a Map</a>
                <a class="nav-item nav-link delete-map-cta" href=#>Delete Map</a>
              </div>
              <!-- <ul class="dropdown">
                <li><a class="nav-item nav-link edit-map-cta" href=#>Edit a Map</a></li>
                <li><a class="nav-item nav-link delete-map-cta" href=#>Delete Map</a></li>
              </ul> -->
            </div>
            <% } %>

          </div>
          <p class="map-description description-text">Amazing food in and around downtown Vancouver. I'm getting
            hungry...</p>
          <h4>Created by: Bob The Hungry Builder</h4>
        </ul>
        <% if (user) { %>
        <div>
          <span class="selector-bar">
            <a class="add-to-favourites" href="/:id/favourites">❤️ Add to Favourites</a>
            <a class="nav-item nav-link add-pin-cta" href=#>📍 Add a New Pin</a>
          </span>
        </div>
        <% } %>
        <div class="pins-container tab-content">
          <div id="pin-list">
            <p class="pin-text">Forage</p>
            <p class="pin-text">Phnom Penh Restaurant</p>
            <p class="pin-text">Cafe Medina</p>
            <p class="pin-text">Black + Blue</p>
            <p class="pin-text">Sal y limon</p>
            <p class="pin-text">Miku Vancouver</p>
          </div>
          <% if (user) { %>
          <!-- <span class="add-pin-button">
            <a id="add-pin-cta" class="button-text" href="#">Add a New Pin</a>
          </span>
          <br> -->
        </div>
      </div>
      <% } %>
      <!-- <span class="absolute-nav-link">
            <a class="nav-item nav-link add-pin-cta" href=#>Add a New Pin</a>
          </span> -->
    </div>

    </div>


    </div>


    <!--  individual map + points end -->
    <div class="map-container-maps">
      <div id="floating-panel">
        <input id="address" type="textbox" value="Vancouver, BC" />
        <input id="submit" type="button" value="Find" />
      </div>
      <div id="map"></div>
    </div>
    </div>

  </main>


  <!-- Create a map -->
  <div class="form-popup" id="create-map-popup">
    <form method="POST" action="/api/maps" class="map-form">
      <div class="form-header">
        <label for="map-form" class="side-panel-heading">Create a Map</label>
        <i id="close-button" class="fas fa-times-circle"></i>
      </div>
      <div class="form-input">
        <input type="text" id="input-map-title" name="title" placeholder="Enter map title..." required>
        <textarea type="text" id="input-map-description" name="description"
          placeholder="Enter map description..."></textarea>
      </div>
      <button type="submit" class="button-text">Create</button>
    </form>
  </div>

  <!-- Edit a map -->
  <div class="form-popup" id="edit-map-popup">
    <form method="POST" action="/api/maps/:id" class="map-form">
      <div class="form-header">
        <label for="map-form" class="side-panel-heading">Edit Map</label>
        <i id="close-button" class="fas fa-times-circle"></i>
      </div>
      <div class="form-input">
        <input type="text" id="input-map-title" name="title" placeholder="New map title..." required>
        <textarea type="text" id="input-map-description" name="description"
          placeholder="New map description..."></textarea>
      </div>
      <button type="submit" class="button-text">Update</button>
    </form>
  </div>

  <!-- Delete a map -->
  <div class="form-popup" id="delete-map-popup">
    <form method="DELETE" action="/api/maps/:id" class="map-form">
      <div class="form-header">
        <label for="map-form" class="side-panel-heading">Are you sure you want to delete the map?</label>
        <i id="close-button" class="fas fa-times-circle"></i>
      </div>
      <br>
      <div class="delete-cancel-buttons">
        <button type="submit" class="button-text">DELETE</button>
        <button type="submit" class="button-text">CANCEL</button>
      </div>
    </form>
  </div>


  <div class="form-popup" id="add-pin-popup">
    <form method="POST" action="/:map_id/points" class="map-form" id="add-pin-form">
      <div class="form-header">
        <label for="map-form" class="side-panel-heading">Add a Point</label>
        <i id="close-button" class="fas fa-times-circle"></i>
      </div>
      <div class="form-input">
        <input type="text" id="input-pin-title" name="title" placeholder="Enter pin title..." required>
        <textarea type="text" id="input--description" name="description"
          placeholder="Enter pin description..."></textarea>
        <br>
        <input type="text" id="input-image-url" name="image-url" placeholder="enter-image-url" required>
          <label for="img">Select image:</label>
          <input type="file" id="img" name="img" accept="image/*">
          <!-- <input type="submit"> -->
      </div>
      <button type="submit" class="button-text">Add</button>
    </form>
  </div>
</body>

</html>
