<!-- <% } else { %> -->

<!-- logged in user seeing individual map -->

<!-- only logged in user can go back to map list -->
<!-- <div class="map-wrapper">
      <div class="map-nav">
        <ul class="nav"> -->
<!-- if logged in user, has access to kebab -->
<!-- <% if (user) { %>
          <div id="arrow-back-button">
            <button onclick="goBack()">← back to map list</button>
          </div>
          <li>
            <h3> Best Eats in Vancouver</h3>
          </li>
          <div class="kebab">
            <figure></figure>
            <figure class="middle"></figure>
            <p class="cross">x</p>
            <figure></figure>
            <ul class="kebab-dropdown">
              <li><a class="nav-item nav-link edit-map-cta" href=#>Edit a Map</a></li>
              <li><a class="nav-item nav-link delete-map-cta" href=#>Delete Map</a></li>
            </ul>
          </div>
          <p class="map-description">Amazing food in and around downtown Vancouver. I'm getting hungry...</p>
          <p class="created-by">Created by: Bob The Hungry Builder</p>
        </ul>
        <span>
          <a class="add-to-favourites" href="/:id/favourites">❤ Add to Favourites</a>
        </span>
        <div class="tab-content">
          <div>
            <p>Forage</p>
            <p>Phnom Penh Restaurant</p>
            <p>Cafe Medina</p>
            <p>Black + Blue</p>
            <p>Sal y limon</p>
            <p>Miku Vancouver</p>
          </div>
          <% } else { %>
          <div class="tab-content">
            <div>
              <p>Forage</p>
              <p>Phnom Penh Restaurant</p>
              <p>Cafe Medina</p>
              <p>Black + Blue</p>
              <p>Sal y limon</p>
              <p>Miku Vancouver</p>
            </div>
            <% } %>
            <% if (!user) { %>
            <span class="absolute-nav-link">
              <a class="nav-item nav-link add-pin-cta" href=#>Add a New Pin</a>
            </span>
          </div>
        </div>
        <div class="map-container-maps">
          <div id="floating-panel">
            <input id="address" type="textbox" value="Sydney, NSW" />
            <input id="submit" type="button" value="Find" />
          </div>
          <div id="map"></div>
        </div>
      </div>
    </div>
    <% } else { %>
    <div class="map-container-maps">
      <div id="floating-panel">
        <input id="address" type="textbox" value="Sydney, NSW" />
        <input id="submit" type="button" value="Find" />
      </div>
      <div id="map"></div>
    </div>
    <% } %>
    <% } %> -->
