[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.map-wrapper {
  display: flex;
}

.map-title {
  display: flex;
  justify-content: center;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid grey;
}
.map-nav {
  width: 30%;
  position: relative;
  background-color: white;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid grey;
}

.tab {
  width: 50%;
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

.tab.active {
  background-color: #CCC;
}

.tab:hover {
  background-color: #AAA;
}

.tab-content {
  justify-content: center;
  display: flex;
  justify-content: center;
  padding: 0 0 1rem 0;
}


.add-to-favourites {
  color: black;
  text-decoration: none;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}

.absolute-nav-link {
  left: 25%;
  bottom: 20px;
  position: absolute;
  color: grey;
  text-decoration: none;
}

.created-by {
  font-size: 10px;
}

.map-description {
  font-size: 14px;
  font-style: italic;
}

#arrow-back-button button {
  display: inline-block;
  color: grey;
  background-color: white;
  border: none;
  padding: 0;
  border-radius: 0;
  outline: none;
  min-width: 0;
  transition: 0;
}

#map {
  min-height: 500px;
  min-width: 600px;
}

#floating-panel {
  font-size: 24px;
}

.map-container {
  display: flex;
  flex-direction: column;
  align-items: rows;
  background-color: white;
}
