[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.map-wrapper {
  display: flex;
}

.map-title {
  display: flex;
  justify-content: center;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid grey;
}
.map-nav {
  width: 30%;
  position: relative;
  background-color: white;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid grey;
}

.tab {
  width: 50%;
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

.tab.active {
  background-color: #CCC;
}

.tab:hover {
  background-color: #AAA;
}

.tab-content {
  justify-content: center;
  display: flex;
  justify-content: center;
  padding: 0 0 1rem 0;
}

.absolute-nav-link {
  left: 25%;
  bottom: 20px;
  position: absolute;
  color: grey;
  text-decoration: none;
}


#arrow-back-button button {
  display: inline-block;
  color: grey;
  background-color: white;
  font-size: 12px;
  border: none;
  padding: 0;
  border-radius: 0;
  outline: none;
  min-width: 0;
  transition: 0;
}

#map {
  min-height: 500px;
  min-width: 600px;
}

#floating-panel {
  font-size: 24px;
}

.map-container-maps {
  display: flex;
  flex-direction: column;
  align-items: rows;
  background-color: white;
}

.add-pin-button {
  margin: 1em 0 0 0;
  bottom: 25%;
  position: absolute;
}

.selector-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  padding: 10px 0 10px 0;
}

.heart {
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-image:url( 'https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
  background-position: left;
  background-repeat:no-repeat;
  background-size:2900%;
}

.heart:hover {
  background-position:right;
}

.liked {
  background-position:right;
}

.is_animating {
  animation: heart-burst .8s steps(28) 1;
}

@keyframes heart-burst {
  from {background-position:left;}
  to { background-position:right;}
}


