$heading-font: 'Nunito', sans-serif;
$body-font: 'Noto Sans', sans-serif;
$logo-font: 'Rubik', sans-serif;

h1 {
  font-family: $heading-font;
  font-size: 48px;
  font-weight: bold;
}

h2 {
  font-family: $heading-font;
  font-size: 20px;
  font-weight: bold;
}

h3 {
  font-family: $heading-font;
  font-size: 16px;
  font-weight: bold;
}

h4 {
  font-family: $body-font;
  font-size: 16px;
  font-weight:400
}

.button-text {
  font-family: $heading-font;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.side-panel-heading{
  font-family: $heading-font;
  font-size: 24px;
  font-weight: bold;
}

.map-heading{
  font-family: $body-font;
  font-size: 24px;
  font-weight: bold;
}

.pin-text {
  font-family: $body-font;
  font-size: 20px;
  font-weight: 400;
}

.description-text {
  font-family: $body-font;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
}

.logo {
  font-family: $logo-font;
  font-size: 32px;
  font-weight: bold;
}

.navbar {
  font-family: $body-font;
  font-size: 18px;
}
