div.form-popup {
  display:none;
}

form {
  display: flex;
  flex-direction: column;
  width: 587px;
  padding: 2rem;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 8px 24px 8px rgba(0, 0, 0, 0.05);

  .form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #close-button {
    font-size: 24px;
  }

  .form-input {
    display: flex;
    flex-direction: column;
    height: 50%;
    margin: 2rem 0;
  }

  .form-button {
    display: flex;
    justify-content: center;
  }


  input {
    height: 3rem;
    outline: none;
    margin: 0.5rem 0;
  }

  textarea {
    margin-top: 24px;
    min-height: 6rem;
    min-width: 100%;
    max-width: 100%;
  }

  &.user-account-form .form-input{
      margin-top: 0;
  }
}
