form {
  display: flex;
  flex-direction: column;
  width: 587px;
  padding: 2rem;
  background-color: white;

  .form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #close-button {
    font-size: 24px;
  }

  .form-input {
    display: flex;
    flex-direction: column;
    height: 50%;
    margin: 2rem 0;
  }

  input {
    height: 3rem;
    outline: none;
  }

  textarea {
    margin-top: 24px;
    min-height: 6rem;
    min-width: 100%;
    max-width: 100%;
  }
}
