@import 'layout', 'fonts';

header {
  display:flex;
  flex-direction: row;
  width: 100vw;
  height: 120px;
  background-color:$primary-color;

  nav.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
  }

  .navbar-right {
    display:flex;
    flex-direction: row;
  }

  .nav-item {
    display:flex;
    flex-direction:row;
    margin-left: 1.5rem;
  }

  .icon {
    margin-left: 0.25rem;
  }

  a {
    text-decoration: none;
    color: $white-contrast-color;
  }

  .logo {
    color: $white-contrast-color
  }

}
