@import 'layout', 'fonts';

header {
  display:flex;
  flex-direction: row;
  width: 100vw;
  height: 120px;
  background-color: $white-contrast-color;
  box-shadow: 8px 8px 24px 10px rgba(0, 0, 0, 0.08);
  position: fixed;
  z-index: 9998;

  nav.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
  }

  .navbar-right {
    display:flex;
    flex-direction: row;

    .nav-user:hover .icon {
        color: $primary-color
    }
  }

  .nav-item {
    display:flex;
    flex-direction:row;
    margin-left: 1.5rem;
  }

  .icon {
    margin-left: 0.25rem;
  }

  a {
    text-decoration: none;
    color: $text-color;

    &:hover {
      color: $primary-color;
      text-decoration: underline solid $primary-color 2px;
    }
  }

  .logo {
    color: $primary-color;

    &:hover {
      color: $hover-primary-color;
      text-decoration: none;
    }
  }

}

.dropdown {
  position: relative;

  .nav-dropdown-content {
    right: 0;
    z-index: 9999;
    display: none;
    width: auto;
    height: 140px;
    border: solid 1px $secondary-color;
    border-radius: 5px;
    margin-top: 2rem;
    position: absolute;
    background-color: $white-contrast-color;

    span {
      padding: 12px 16px;

      a {
        text-decoration: none;
        color: $text-color;

        &.nav-item {
          margin: 0 1rem;
        }

        &:hover {
          color: $primary-color;
          text-decoration: underline solid $primary-color 2px;
        }
      }
    }
  }

}
