@import 'forms';

$primary-color: #CD4631;
$secondary-color: #eeeeee;
$white-contrast-color: white;
$text-color: #474747;
$hover-primary-color: #832d20;

body {
  background-color: $secondary-color;

  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-top: 120px;
  align-items: center;
}

div.hero-container {
  width: 100%;
  display:flex;
  flex-direction: row;
  align-items: center;
  margin: 4rem 0;

    .hero-description {
      margin-right: 2rem;
      color: $text-color;

      h1 {
        font-size: 48px;
        margin: 0;
      }

      p {
        border: none;
      }
    }

    .hero-cta {
      margin-top: 48px;
    }

    .img-mask {
      width: 830px;
      height: 400px;
      overflow: hidden;
      border-radius: 3px;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.38);
    }

    .hero-map {
      width: 100%;
      height: auto;
    }

}

div.map-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap:wrap;
  width: 100%;

  .map-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3rem 0;
    width: 40vw;
    height: 400px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.38);

    .img-mask {
      width: 100%;
      height: 100%;
      overflow: hidden;
      display:flex;
      flex-direction: column;
      border-radius: 3px 3px 0 0;
    }

    .map-thumbnail {
      width: auto;
      height: 100%;
    }

    .map-heading {
      color: $white-contrast-color;
      width: 100%;
      padding: 1rem;
      text-align: center;
    }
  }

}

button {
  color: $white-contrast-color;
  background-color: $primary-color;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  outline: none;
  min-width: 220px;
  transition: all 0.1s ease-out;

  &:hover {
    background-color: $hover-primary-color;
  }
}

.page-heading {
  margin-top: 4rem;
  font-size: 48px;
}



// $cubic-out: cubic-bezier(.32,2.04,.85,.54);
// $cubic-in: cubic-bezier(.72,1.2,.71,.72);
// $nunito: 'Nunito', sans-serif;
// $roboto: Roboto, sans-serif;

// $yellow: #ffeb3b;
// $grey: #9e9e9e;

// $shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);

// // Kebab styling

// .kebab {
//   cursor: pointer;
//   position: relative;
//   display: inline-block;
//   box-sizing: border-box;
//   padding: 0 8px 0 8px;
//   top: 6px;
//   figure {
//     width: 3px;
//     height: 3px;
//     border-radius: 5px;
//     background: $grey;
//     margin: 3px 0;
//   }
// }

// .middle {
//   transition: all 0.25s $cubic-in;
//   transform: scale(1);
//   position: relative;
//   box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
//   -webkit-filter: blur(.1px);
//   filter: blur(.1px);
// }

// .middle.active {
//   transform: scale(4.5);
//   transition: all 0.25s $cubic-out;
//   box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
// }

// .cross {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%) scale(0);
//   margin-top: -1px;
//   font-family: $nunito;
//   color: white;
//   transition: all 0.2s $cubic-in;
//   font-size: 22px;
//   user-select: none;
// }

// .cross.active {
//   transform: translate(-50%, -50%) scale(1);
//   transition: all 0.15s $cubic-out;
// }


// a, li {
//   color: darken($grey, 20%);
//   text-decoration: none;
// }

// .nav {
//   > li {
//     display: inline-block;
//     cursor: pointer;
//     &:hover {
//       background: lighten($grey, 30%);
//     }
//   }
// }

// .dropdown {
//     position: absolute;
//     right: 0;
//     transition: all 0.25s ease-out;
//     transform: scale(0);
//     transform-origin: 100% 0;
//     box-shadow: $shadow;
//     li {
//       display: block;
//       width: 100%;
//       a {
//         width: 100%;
//         padding: 1em 18px;
//         display: inline-block;
//         white-space: pre;
//         box-sizing: border-box;
//         &:hover {
//           background: lighten($grey, 30%);
//         }
//       }
//     }
//   &:hover {
//     ul {
//       transform: scale(1);
//     }
//   }
// }

// .dropdown.active {
//   transform: scale(1);
//   transition: all 0.25s cubic-bezier(.5,1.8,.9,.8);
// }


// @media screen and (max-width: 800px) {
//   .follow {
//     margin: 400px auto 0;
//   }
// }
