// See: https://sass-lang.com/
$primary-color: brown;
$secondary-color: #c7c7c7;
$white-contrast-color: white;
$text-color: black;

body {
  background-color: $secondary-color;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  width: 85%;
  border:solid blue;
}

div.hero-container {
  width: 100%;
  display:flex;
  flex-direction: row;
  align-items: center;
  margin: 4rem 0;

  .hero-description {
    margin-right: 2rem;

    h1 {
      font-size: 48px;
      margin: 0;
    }
  }

  .hero-cta {
    margin-top: 48px;
  }

  .img-mask {
    width: 830px;
    height: 400px;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.38);
  }

  .hero-map {
    width: 100%;
    height: auto;
  }
}

div.map-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 4rem 0;

  .map-row {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
  }

  .map {
    display: flex;
    flex-direction: row;
    // justify-content: space-evenly;
    // border: solid purple;

    &.img-mask {
      width: 400px;
      height: 320px;
      overflow: hidden;
      border-radius: 3px;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.38);
    }

    .map-thumbnail {
      width: 100%;
      height: auto;
    }
  }

}

button {
  color: $white-contrast-color;
  background-color: $primary-color;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  outline: none;
  min-width: 220px;
  transition: all 0.1s ease-out;

  &:hover {
    background-color: red;
  }
}
