@import 'forms';

$primary-color: #CD4631;
$secondary-color: #eeeeee;
$white-contrast-color: white;
$text-color: #474747;
$hover-primary-color: #832d20;

body {
  background-color: $secondary-color;

  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-top: 120px;
  align-items: center;
}

div.hero-container {
  width: 100%;
  display:flex;
  flex-direction: row;
  align-items: center;
  margin: 4rem 0;

  .hero-description {
    margin-right: 2rem;
    color: $text-color;

    h1 {
      font-size: 48px;
      margin: 0;
    }
  }

  .hero-cta {
    margin-top: 48px;
  }

  .img-mask {
    width: 830px;
    height: 400px;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.38);
  }

  .hero-map {
    width: 100%;
    height: auto;
  }
}

div.map-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap:wrap;
  width: 100%;

  .map-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3rem 0;
    width: 340px;
    height: 400px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.38);

    .img-mask {
      width: 100%;
      height: 100%;
      overflow: hidden;
      display:flex;
      flex-direction: column;
      border-radius: 3px 3px 0 0;
    }

    .map-thumbnail {
      width: auto;
      height: 100%;
    }

    .map-heading {
      color: $white-contrast-color;
      width: 100%;
      padding: 1rem;
      text-align: center;
    }
  }

}

button {
  color: $white-contrast-color;
  background-color: $primary-color;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  outline: none;
  min-width: 220px;
  transition: all 0.1s ease-out;

  &:hover {
    background-color: $hover-primary-color;
  }
}

.page-heading {
  margin-top: 4rem;
  font-size: 48px;
}
