// See: https://sass-lang.com/
$primary-color: brown;
$secondary-color: #c7c7c7;
$white-contrast-color: white;
$text-color: black;

body {
  background-color: $secondary-color;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.hero-container {
  width: 85%;
  display:flex;
  flex-direction: row;
  align-items: center;
  margin: 4rem;

  .hero-description {
    margin-right: 2rem;

    h1 {
      font-size: 48px;
      margin: 0;
    }
  }

  .hero-cta {
    margin-top: 48px;
  }

  .img-mask {
    width: 830px;
    height: 400px;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.38);
  }

  .hero-map {
    width: 830px;
    height: auto;
  }
}

button {
  color: $white-contrast-color;
  background-color: $primary-color;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  outline: none;
  min-width: 220px;
  transition: all 0.1s ease-out;

  &:hover {
    background-color: red;
  }
}
