@import 'forms', 'maps';

$primary-color: #CD4631;
$secondary-color: #eeeeee;
$white-contrast-color: white;
$text-color: #474747;
$hover-primary-color: #832d20;

body {
  background-color: $secondary-color;

  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-top: 120px;
  align-items: center;
}

div.index-maps-container {
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0;

    .maplist-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 4rem 0;
    }

    .map-description {
      color: $text-color;
      width: 40%;

      &.left {
        margin-right: 2rem;
      }

      &.right {
        margin-left: 2rem;
      }
      h1 {
        font-size: 48px;
        margin: 0;
      }

      p {
        border: none;
      }
    }

    .map-cta {
      margin-top: 48px;
    }

    .img-mask {
      width: 780px;
      height: 400px;
      overflow: hidden;
      border-radius: 3px;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.38);
    }

    .map-img {
      width: 100%;
      height: auto;
    }

}

button, #map-login, #add-pin-cta, #arrow-back-button, .anchor-button {
  color: $white-contrast-color;
  background-color: $primary-color;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  outline: none;
  width: 220px;
  transition: all 0.1s ease-out;

  &:hover {
    background-color: $hover-primary-color;
  }
}

.page-heading {
  margin-top: 4rem;
  font-size: 48px;
}

#arrow-back-button {
  font-size: smaller;
}
