$cubic-out: cubic-bezier(.32,2.04,.85,.54);
$cubic-in: cubic-bezier(.72,1.2,.71,.72);
$heading-font: 'Nunito', sans-serif;

$yellow: #ffeb3b;
$grey: #9e9e9e;

$shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);

// Kebab styling

.kebab {
  cursor: pointer;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 8px 0 8px;
  top: 6px;
  figure {
    width: 3px;
    height: 3px;
    border-radius: 5px;
    background: $grey;
    margin: 3px 0;
  }
}

.middle {
  transition: all 0.25s $cubic-in;
  transform: scale(1);
  position: relative;
  box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
  -webkit-filter: blur(.1px);
  filter: blur(.1px);
}

.middle.active {
  transform: scale(4.5);
  transition: all 0.25s $cubic-out;
  box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
}

.cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  margin-top: -1px;
  font-family: $heading-font;
  color: white;
  transition: all 0.2s $cubic-in;
  font-size: 22px;
  user-select: none;
}

.cross.active {
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.15s $cubic-out;
}


a, li {
  color: darken($grey, 20%);
  text-decoration: none;
}

.nav {
  > li {
    display: inline-block;
    cursor: pointer;
    &:hover {
      background: lighten($grey, 30%);
    }
  }
}

.kebab-dropdown {
    position: absolute;
    right: 0;
    transition: all 0.25s ease-out;
    transform: scale(0);
    transform-origin: 100% 0;
    box-shadow: $shadow;

    li {
      display: block;
      width: 100%;
      a {
        width: 100%;
        padding: 1em 18px;
        display: inline-block;
        white-space: pre;
        box-sizing: border-box;
        &:hover {
          background: lighten($grey, 30%);
        }
      }
    }

  &:hover {
    ul {
      transform: scale(1);
    }
  }
}

.dropdown.active {
  transform: scale(1);
  transition: all 0.25s cubic-bezier(.5,1.8,.9,.8);
}

@media screen and (max-width: 800px) {
  .follow {
    margin: 400px auto 0;
  }
}
